<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png"/>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
    <meta name="theme-color" content="#1885ed"/>
    <title>Scan your resume</title>
  </head>
  
  <body>
    <header class="header">
      <div class="container header__container">
      <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png"> <h1 class="header__title">CVscan<span class="header__light"></span></h1></div> 
         
              
      <div class="header__menu">
        <nav id="navbar" class="header__nav collapse">
          <ul class="header__elenco">
            <li class="header__el"><a href="#" class="header__link">Home</a></li>
            <li class="header__el"><a href="#" class="header__link">Resume</a></li>
            <li class="header__el"><a href="#" class="header__link">Cover letter</a></li>
            <li class="header__el"><a href="#" class="header__link">Blog</a></li>
            <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
            {% if request.user.is_authenticated %}
              <li class="header__el header__el--blue"><a href="{% url 'logout' %}" class="btn btn--white">Log out →</a></li>
            {% else %}
              <li class="header__el header__el--blue"><a href="{% url 'login' %}" class="btn btn--white">Sign In →</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="sect sect--padding-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
        <div class="site">
          <h1 class="site__title">Optimize your resume for job interviews</h1>
          <h2 class="site__subtitle">Win interviews like a boss</h2>
          <div class="site__box-link">
            <a class="btn btn--width" href="{% url 'scan' %}">Scan</a>
            <a class="btn btn--revert btn--width" href="">Contact</a>
          </div>
          <img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">
        </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>